[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=layer_opacity_control
X-Python-2-Compatible=false
Name=Layer Opacity Control
Comment=Easily increase or decrease layer opacity with configurable increments.
